<html manifest="config.appcache">
<head><title>RePo Config</title>
<link rel="shortcut icon" href="/icon/config.ico" />
<link type="text/css" rel="stylesheet" href="/aesthetics.css" />
</head>
<body>
<script type="text/javascript" src="http://code.jquery.com/jquery-1.6.1.min.js"></script>
<script type="text/javascript" src="/utils.js"></script>
<script type="text/javascript">
	function makeDefault(scheme) {
		var rphs = data('protocolhandlers-' + scheme),
			$li = $('#scheme-'+scheme+' > ul > li > :radio');
		$li.each(function(i) {
			rphs[i].defaultH = $(this).is(':checked');
		});
		if ($('#scheme-' + scheme + ' .native').is(':checked')) data('native-'+scheme, true);
		else localStorage.removeItem('native-'+scheme);
		data('protocolhandlers-'+scheme, rphs);
	}
	function remove(li, scheme, i) {if (confirm(_('confirm delete', scheme))) {
		var key = 'protocolhandlers-'+scheme,
		rphs = data(key);
		rphs.splice(i, 1);
		data(key, rphs);

		// Remove list if empty
		if (!rphs.length) {
			localStorage.removeItem(key);
			// Remove from list
			var schemes = data('protocolhandler-list');
			delete schemes[scheme];
			data('protocolhandler-list', schemes);
			// Remove scheme li
			$(li).parent().parent('li').remove();
		}

		$(li).remove();
		}
	}
</script>
<script type="text/template">
	<header>
		<h1>{{= _("Protocol Handlers") }}</h1>
		<p><a href="/#bookmark:{{= location.href }}" title="{{= _('bookmark title') }}">
			<img src="/icon/bookmark.ico" alt="{{= _('bookmark alt') }}"> {{= _('bookmark') }}</a></p>
	</header>
	<ul>{{ if (data('protocolhandler-list')) each(data('protocolhandler-list'), function(scheme) { }}
		<li id="scheme-{{= scheme }}"><h3>{{= scheme }}</h3>
			<input type="radio" name="default-{{= scheme }}" value="-1"
				onclick="makeDefault('{{= scheme }}');"
				title="{{= _('no default tooltip') }}"> {{= _('no default') }}
			<input type="radio" name="default-{{= scheme }}" value="-2"
				onclick="makeDefault('{{= scheme }}');" class="native"
				{{ if (data('native-'+scheme)) { }}checked="checked"{{ } }}
				title="{{= _('native default title') }}"> 
				{{= _('native tooltip') }}
			<ul>
			{{ each(data('protocolhandlers-' + scheme), function(i) { }}
				<li>
					<input type="radio" {{if (this.defaultH) { }}checked="checked"{{ } }}
						name="default-{{= scheme }}" value="{{= i }}"
						onclick="makeDefault('{{= scheme }}');"
						title="{{= _('default tooltip', this.url.split('/')[2], scheme) }}">
					<strong>{{= this.title }}</strong> ({{= this.url }})
					<button onclick="remove(this.parentNode, '{{= scheme }}', {{= i }});"
						title="{{= _('default remove', this.url, scheme) }}">X</button>
				</li>
			{{ }); }}
		</ul></li>
	{{ }); }}</ul>
</script>
</body>
</html>
